# Web Scraping Project:
**In this project we will `scrap` the `top rated movies` form the `specific page` of `IMDb website`**
___
* `Website page Link`: [Click here](https://www.imdb.com/chart/top/)
* `Date`: 03/06/2023
* `Author`: Malik Hasnain Ali
* `Helper Youtube Channel name`: techTFQ
* `Helping Youtube video link`: [Click here](https://www.youtube.com/watch?v=LCVSmkyB4v8)

**`Tools Used:`**
- BeautifulSoup
- Requests
- openpyxl
- HTML
- Pandas
- Numpy

> **`Importing Libraries:`**
___

In [1]:
from bs4 import BeautifulSoup
import requests

In [21]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\windows 10\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\windows 10\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import openpyxl

> **`Scrap through openpyxl:`**
___

In [26]:
excel = openpyxl.Workbook()
print(excel.sheetnames)
sheet = excel.active
# Now we give title to our excel sheet
sheet.title = 'IMDB Top 250 Movies'
print(excel.sheetnames)
# Now we give column names in excel file
sheet.append(['Movie Rank','Movie Name','Year of Release','IMDB Rating'])

['Sheet']
['IMDB Top 250 Movies']

> **`Function that scrap the data:`**
___

In [27]:
try:
    source = requests.get('https://www.imdb.com/chart/top/')
    source.raise_for_status() # This code will raise error agar hamara link sahi na howa to
    
    
    soup = BeautifulSoup(source.text,'html.parser')
    # Ab hamain pehla us ki body ka tag ko pehla access krna ho ga
    # movies = soup.find('tbody', class_='lister-list') # Ye inspect krta waqt us pori body ka tag maloom kiya hum na
    movies = soup.find('tbody', class_='lister-list').find_all('tr')
    # Ab is ma hum na us body ka ander wala maal ko access krna ka kosis kr ra hain
    
    # print(movies)
    # print(len(movies)) # To check either the movies length is same or not
    
    for movie in movies:
        # name = movie.find('td',class_='titleColumn') # First we exeute this then comment out this line of code and execute next code
        name = movie.find('td',class_='titleColumn').a.text # a.text mean ka pehla tag select karo
        rank = movie.find('td',class_='titleColumn').get_text(strip=True).split('.')[0]
        year = movie.find('td', class_='titleColumn').span.text.strip('()')
        rating = movie.find('td',class_='ratingColumn imdbRating').strong.text
        
        # To check either it is printing or not
        print(rank,name,year,rating)
        # break # ye break is lia lagaya tha hum na taka hum sirf 1 hi ko extract kare now we cancel break
        # To append above coded data in our named columns
        sheet.append([rank,name,year,rating])

except Exception as e:
    print(e)
    
# To save the data in xlsx file   
excel.save('IMDB Movie Ratings.xlsx')

1 The Shawshank Redemption 1994 9.2
2 The Godfather 1972 9.2
3 The Dark Knight 2008 9.0
4 The Godfather Part II 1974 9.0
5 12 Angry Men 1957 9.0
6 Schindler's List 1993 8.9
7 The Lord of the Rings: The Return of the King 2003 8.9
8 Pulp Fiction 1994 8.8
9 The Lord of the Rings: The Fellowship of the Ring 2001 8.8
10 Il buono, il brutto, il cattivo 1966 8.8
11 Forrest Gump 1994 8.8
12 Fight Club 1999 8.7
13 The Lord of the Rings: The Two Towers 2002 8.7
14 Inception 2010 8.7
15 Star Wars: Episode V - The Empire Strikes Back 1980 8.7
16 The Matrix 1999 8.7
17 GoodFellas 1990 8.7
18 One Flew Over the Cuckoo's Nest 1975 8.6
19 Se7en 1995 8.6
20 It's a Wonderful Life 1946 8.6
21 Shichinin no samurai 1954 8.6
22 The Silence of the Lambs 1991 8.6
23 Saving Private Ryan 1998 8.6
24 Cidade de Deus 2002 8.6
25 Interstellar 2014 8.6
26 La vita è bella 1997 8.6
27 The Green Mile 1999 8.6
28 Star Wars 1977 8.5
29 Terminator 2: Judgment Day 1991 8.5
30 Back to the Future 1985 8.5
31 Sen to Chihiro no kamikakushi 2001 8.5
32 The Pianist 2002 8.5
33 Psycho 1960 8.5
34 Gisaengchung 2019 8.5
35 Léon 1994 8.5
36 Gladiator 2000 8.5
37 The Lion King 1994 8.5
38 American History X 1998 8.5
39 The Departed 2006 8.5
40 Whiplash 2014 8.5
41 The Prestige 2006 8.5
42 The Usual Suspects 1995 8.5
43 Casablanca 1942 8.5
44 Hotaru no haka 1988 8.5
45 Seppuku 1962 8.5
46 The Intouchables 2011 8.5
47 Modern Times 1936 8.4
48 Once Upon a Time in the West 1968 8.4
49 Nuovo Cinema Paradiso 1988 8.4
50 Rear Window 1954 8.4
51 Alien 1979 8.4
52 City Lights 1931 8.4
53 Apocalypse Now 1979 8.4
54 Memento 2000 8.4
55 Django Unchained 2012 8.4
56 Raiders of the Lost Ark 1981 8.4
57 WALL·E 2008 8.4
58 The Lives of Others 2006 8.4
59 Sunset Blvd. 1950 8.4
60 Paths of Glory 1957 8.4
61 The Shining 1980 8.4
62 The Great Dictator 1940 8.4
63 Avengers: Infinity War 2018 8.4
64 Witness for the Prosecution 1957 8.4
65 Spider-Man: Into the Spider-Verse 2018 8.3
66 Aliens 1986 8.3
67 American Beauty 1999 8.3
68 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb 1964 8.3
69 The Dark Knight Rises 2012 8.3
70 Inglourious Basterds 2009 8.3
71 Oldeuboi 2003 8.3
72 Amadeus 1984 8.3
73 Coco 2017 8.3
74 Toy Story 1995 8.3
75 Braveheart 1995 8.3
76 Das Boot 1981 8.3
77 Joker 2019 8.3
78 Avengers: Endgame 2019 8.3
79 Mononoke-hime 1997 8.3
80 Good Will Hunting 1997 8.3
81 Once Upon a Time in America 1984 8.3
82 Kimi no na wa. 2016 8.3
83 3 Idiots 2009 8.3
84 Singin' in the Rain 1952 8.3
85 Tengoku to jigoku 1963 8.3
86 Requiem for a Dream 2000 8.3
87 Toy Story 3 2010 8.3
88 Capharnaüm 2018 8.3
89 Star Wars: Episode VI - Return of the Jedi 1983 8.3
90 2001: A Space Odyssey 1968 8.3
91 Eternal Sunshine of the Spotless Mind 2004 8.3
92 Idi i smotri 1985 8.3
93 Jagten 2012 8.3
94 Reservoir Dogs 1992 8.3
95 Lawrence of Arabia 1962 8.2
96 Citizen Kane 1941 8.2
97 M - Eine Stadt sucht einen Mörder 1931 8.2
98 Ikiru 1952 8.2
99 North by Northwest 1959 8.2
100 The Apartment 1960 8.2
101 Vertigo 1958 8.2
102 Le fabuleux destin d'Amélie Poulain 2001 8.2
103 Double Indemnity 1944 8.2
104 A Clockwork Orange 1971 8.2
105 Full Metal Jacket 1987 8.2
106 Scarface 1983 8.2
107 Incendies 2010 8.2
108 Heat 1995 8.2
109 Hamilton 2020 8.2
110 Up 2009 8.2
111 To Kill a Mockingbird 1962 8.2
112 The Sting 1973 8.2
113 Jodaeiye Nader az Simin 2011 8.2
114 Metropolis 1927 8.2
115 Die Hard 1988 8.2
116 L.A. Confidential 1997 8.2
117 Indiana Jones and the Last Crusade 1989 8.2
118 Taxi Driver 1976 8.2
119 Snatch 2000 8.2
120 Ladri di biciclette 1948 8.2
121 Taare Zameen Par 2007 8.2
122 1917 2019 8.2
123 Top Gun: Maverick 2022 8.2
124 Der Untergang 2004 8.2
125 Dangal 2016 8.2
126 Per qualche dollaro in più 1965 8.2
127 Batman Begins 2005 8.2
128 The Kid 1921 8.2
129 Some Like It Hot 1959 8.2
130 The Father 2020 8.2
131 The Wolf of Wall Street 2013 8.2
132 All About Eve 1950 8.2
133 Green Book 2018 8.2
134 Judgment at Nuremberg 1961 8.2
135 Casino 1995 8.2
136 Ran 1985 8.2
137 The Truman Show 1998 8.2
138 There Will Be Blood 2007 8.2
139 Pan's Labyrinth 2006 8.2
140 Unforgiven 1992 8.2
141 Shutter Island 2010 8.2
142 The Sixth Sense 1999 8.2
143 Jurassic Park 1993 8.2
144 A Beautiful Mind 2001 8.2
145 Yôjinbô 1961 8.1
146 The Treasure of the Sierra Madre 1948 8.1
147 Monty Python and the Holy Grail 1975 8.1
148 No Country for Old Men 2007 8.1
149 Kill Bill: Vol. 1 2003 8.1
150 The Great Escape 1963 8.1
151 Rashômon 1950 8.1
152 The Thing 1982 8.1
153 Finding Nemo 2003 8.1
154 Spider-Man: No Way Home 2021 8.1
155 The Elephant Man 1980 8.1
156 Chinatown 1974 8.1
157 Guardians of the Galaxy Vol. 3 2023 8.1
158 Raging Bull 1980 8.1
159 V for Vendetta 2005 8.1
160 Gone with the Wind 1939 8.1
161 Dial M for Murder 1954 8.1
162 Lock, Stock and Two Smoking Barrels 1998 8.1
163 Hauru no ugoku shiro 2004 8.1
164 Inside Out 2015 8.1
165 El secreto de sus ojos 2009 8.1
166 Three Billboards Outside Ebbing, Missouri 2017 8.1
167 Prisoners 2013 8.1
168 Trainspotting 1996 8.1
169 The Bridge on the River Kwai 1957 8.1
170 Fargo 1996 8.1
171 Warrior 2011 8.1
172 Gran Torino 2008 8.1
173 Catch Me If You Can 2002 8.1
174 Tonari no Totoro 1988 8.1
175 Million Dollar Baby 2004 8.1
176 Bacheha-Ye aseman 1997 8.1
177 The Gold Rush 1925 8.1
178 Blade Runner 1982 8.1
179 Klaus 2019 8.1
180 Harry Potter and the Deathly Hallows: Part 2 2011 8.1
181 Before Sunrise 1995 8.1
182 12 Years a Slave 2013 8.1
183 The Grand Budapest Hotel 2014 8.1
184 Ben-Hur 1959 8.1
185 On the Waterfront 1954 8.1
186 Gone Girl 2014 8.1
187 The General 1926 8.1
188 Barry Lyndon 1975 8.1
189 Smultronstället 1957 8.1
190 In the Name of the Father 1993 8.1
191 The Deer Hunter 1978 8.1
192 Hacksaw Ridge 2016 8.1
193 The Third Man 1949 8.1
194 Salinui chueok 2003 8.1
195 Le salaire de la peur 1953 8.1
196 Sherlock Jr. 1924 8.1
197 Relatos salvajes 2014 8.1
198 Mr. Smith Goes to Washington 1939 8.1
199 Mad Max: Fury Road 2015 8.1
200 Mary and Max. 2009 8.1
201 Dead Poets Society 1989 8.1
202 Monsters, Inc. 2001 8.1
203 How to Train Your Dragon 2010 8.1
204 Det sjunde inseglet 1957 8.1
205 Jaws 1975 8.1
206 Room 2015 8.1
207 The Big Lebowski 1998 8.1
208 Tôkyô monogatari 1953 8.1
209 Ford v Ferrari 2019 8.1
210 La passion de Jeanne d'Arc 1928 8.1
211 Hotel Rwanda 2004 8.0
212 Rocky 1976 8.0
213 Ratatouille 2007 8.0
214 Platoon 1986 8.0
215 Logan 2017 8.0
216 Spotlight 2015 8.0
217 The Terminator 1984 8.0
218 Stand by Me 1986 8.0
219 Rush 2013 8.0
220 Network 1976 8.0
221 Before Sunset 2004 8.0
222 The Wizard of Oz 1939 8.0
223 Into the Wild 2007 8.0
224 The Best Years of Our Lives 1946 8.0
225 The Exorcist 1973 8.0
226 Groundhog Day 1993 8.0
227 The Incredibles 2004 8.0
228 La haine 1995 8.0
229 To Be or Not to Be 1942 8.0
230 Pirates of the Caribbean: The Curse of the Black Pearl 2003 8.0
231 Hachi: A Dog's Tale 2009 8.0
232 La battaglia di Algeri 1966 8.0
233 The Grapes of Wrath 1940 8.0
234 Jai Bhim 2021 8.0
235 Pather Panchali 1955 8.0
236 Amores perros 2000 8.0
237 Babam ve Oglum 2005 8.0
238 Ah-ga-ssi 2016 8.0
239 Rebecca 1940 8.0
240 Cool Hand Luke 1967 8.0
241 The Sound of Music 1965 8.0
242 It Happened One Night 1934 8.0
243 Les quatre cents coups 1959 8.0
244 Persona 1966 8.0
245 Life of Brian 1979 8.0
246 The Iron Giant 1999 8.0
247 The Help 2011 8.0
248 Aladdin 1992 8.0
249 Dances with Wolves 1990 8.0
250 Dersu Uzala 1975 8.0

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

> **`Calling data into df:`**
___

In [2]:
df = pd.read_excel('./IMDB Movie Ratings.xlsx')

In [3]:
df.head()

   Movie Rank                Movie Name  Year of Release  IMDB Rating
0           1  The Shawshank Redemption             1994          9.2
1           2             The Godfather             1972          9.2
2           3           The Dark Knight             2008          9.0
3           4     The Godfather Part II             1974          9.0
4           5              12 Angry Men             1957          9.0

> **`Top 10 movies based on IMBD rating:`**
___

In [7]:
# Top 10 movies who have the most imbd rating
df.sort_values(by='IMDB Rating',ascending=False).head(10)

,Movie Rank,Movie Name,Year of Release,IMDB Rating
0,1,The Shawshank Redemption,1994,9.2
1,2,The Godfather,1972,9.2
2,3,The Dark Knight,2008,9.0
3,4,The Godfather Part II,1974,9.0
4,5,12 Angry Men,1957,9.0
5,6,Schindler's List,1993,8.9
6,7,The Lord of the Rings: The Return of the King,2003,8.9
7,8,Pulp Fiction,1994,8.8
8,9,The Lord of the Rings: The Fellowship of the Ring,2001,8.8
9,10,"Il buono, il brutto, il cattivo",1966,8.8